In [28]:
import numpy as np
import pandas as pd

from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [42]:
def onehot_encoder(df, teste):

    colunas_cat = ["workclass", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]
    
    for coluna in colunas_cat:

        val = teste[coluna]

        #print(coluna)
        df[f"{coluna}_ {val}"] = 1
    
    return df

In [ ]:
def add_features(df_unique):
    ### Tratamento de variaveis categoricas
    df_unique = onehot_encoder(df_unique)

    ### Tratamento de variaveis continuas
    normalize = MinMaxScaler()

    colunas = ["age", "fnlwgt", "capital-gain", "capital-loss", "hours-per-week", "education-num"]

    df_unique[colunas] = normalize.fit_transform(df_unique[colunas])

    ### Dropar colunas e separar X e Y
    colunas_drop = ["class", "education", "workclass", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]

    df_unique = df_unique.drop(colunas_drop, axis = 1).to_numpy()

In [1]:
import numpy as np
import pandas as pd

In [37]:
colunas = pd.read_csv("./Dados/colunas.csv")

In [38]:
NOME_COLUNAS = ('age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'class')
entrada = pd.read_csv("./Dados/adult.test", names = NOME_COLUNAS, index_col = False, skiprows = 1)

In [44]:
df_process = pd.concat([colunas,entrada], axis=0, ignore_index=True)#.head(1)

df_process = df_process.drop(labels=0, axis=0)

colunas_classes = ["education", "workclass", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]

for coluna in colunas_classes:
    df_process[f'coluna_{df_process['coluna']}']

#colunas_drop = ["class", "education", "workclass", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]

#df_unique = df_unique.drop(colunas_drop, axis = 1).to_numpy()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Holand-Netherlands,workclass,education,marital-status,occupation,relationship,race,sex,native-country,class
1,38,89814,9,0,0,50,NaN,NaN,NaN,NaN,...,NaN,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K.
2,28,336951,12,0,0,40,NaN,NaN,NaN,NaN,...,NaN,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K.
3,44,160323,10,7688,0,40,NaN,NaN,NaN,NaN,...,NaN,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K.
4,18,103497,10,0,0,30,NaN,NaN,NaN,NaN,...,NaN,?,Some-college,Never-married,?,Own-child,White,Female,United-States,<=50K.
5,34,198693,6,0,0,30,NaN,NaN,NaN,NaN,...,NaN,Private,10th,Never-married,Other-service,Not-in-family,White,Male,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16276,39,215419,13,0,0,36,NaN,NaN,NaN,NaN,...,NaN,Private,Bachelors,Divorced,Prof-specialty,Not-in-family,White,Female,United-States,<=50K.
16277,64,321403,9,0,0,40,NaN,NaN,NaN,NaN,...,NaN,?,HS-grad,Widowed,?,Other-relative,Black,Male,United-States,<=50K.
16278,38,374983,13,0,0,50,NaN,NaN,NaN,NaN,...,NaN,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K.
16279,44,83891,13,5455,0,40,NaN,NaN,NaN,NaN,...,NaN,Private,Bachelors,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,United-States,<=50K.
16280,35,182148,13,0,0,60,NaN,NaN,NaN,NaN,...,NaN,Self-emp-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K.

In [40]:
pd.concat([colunas,entrada], axis=0, ignore_index=True).head(1)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Holand-Netherlands,workclass,education,marital-status,occupation,relationship,race,sex,native-country,class
0,25,226802,7,0,0,40,NaN,NaN,NaN,NaN,...,NaN,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K.

In [50]:
onehot_encoder(colunas, entrada[:1])

Empty DataFrame
Columns: [age, fnlwgt, education-num, capital-gain, capital-loss, hours-per-week, workclass_ Federal-gov, workclass_ Local-gov, workclass_ Never-worked, workclass_ Private, workclass_ Self-emp-inc, workclass_ Self-emp-not-inc, workclass_ State-gov, workclass_ Without-pay, marital-status_ Divorced, marital-status_ Married-AF-spouse, marital-status_ Married-civ-spouse, marital-status_ Married-spouse-absent, marital-status_ Never-married, marital-status_ Separated, marital-status_ Widowed, occupation_ Adm-clerical, occupation_ Armed-Forces, occupation_ Craft-repair, occupation_ Exec-managerial, occupation_ Farming-fishing, occupation_ Handlers-cleaners, occupation_ Machine-op-inspct, occupation_ Other-service, occupation_ Priv-house-serv, occupation_ Prof-specialty, occupation_ Protective-serv, occupation_ Sales, occupation_ Tech-support, occupation_ Transport-moving, relationship_ Husband, relationship_ Not-in-family, relationship_ Other-relative, relationship_ Own-child, relationship_ Unmarried, relationship_ Wife, race_ Amer-Indian-Eskimo, race_ Asian-Pac-Islander, race_ Black, race_ Other, race_ White, sex_ Female, sex_ Male, native-country_ Cambodia, native-country_ Canada, native-country_ China, native-country_ Columbia, native-country_ Cuba, native-country_ Dominican-Republic, native-country_ Ecuador, native-country_ El-Salvador, native-country_ England, native-country_ France, native-country_ Germany, native-country_ Greece, native-country_ Guatemala, native-country_ Haiti, native-country_ Honduras, native-country_ Hong, native-country_ Hungary, native-country_ India, native-country_ Iran, native-country_ Ireland, native-country_ Italy, native-country_ Jamaica, native-country_ Japan, native-country_ Laos, native-country_ Mexico, native-country_ Nicaragua, native-country_ Outlying-US(Guam-USVI-etc), native-country_ Peru, native-country_ Philippines, native-country_ Poland, native-country_ Portugal, native-country_ Puerto-Rico, native-country_ Scotland, native-country_ South, native-country_ Taiwan, native-country_ Thailand, native-country_ Trinadad&Tobago, native-country_ United-States, native-country_ Vietnam, native-country_ Yugoslavia, native-country_ Holand-Netherlands, workclass_ 0     Private
Name: workclass, dtype: object, marital-status_ 0     Never-married
Name: marital-status, dtype: object, occupation_ 0     Machine-op-inspct
Name: occupation, dtype: object, relationship_ 0     Own-child
Name: relationship, dtype: object, race_ 0     Black
Name: race, dtype: object, sex_ 0     Male
Name: sex, dtype: object, native-country_ 0     United-States
Name: native-country, dtype: object]
Index: []

[0 rows x 96 columns]

In [7]:
output = colunas.append(entrada, ignore_index=True)

NameError: name 'dictionary' is not defined

In [29]:
colunas.columns

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'workclass_ Federal-gov', 'workclass_ Local-gov',
       'workclass_ Never-worked', 'workclass_ Private',
       'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc',
       'workclass_ State-gov', 'workclass_ Without-pay',
       'marital-status_ Divorced', 'marital-status_ Married-AF-spouse',
       'marital-status_ Married-civ-spouse',
       'marital-status_ Married-spouse-absent',
       'marital-status_ Never-married', 'marital-status_ Separated',
       'marital-status_ Widowed', 'occupation_ Adm-clerical',
       'occupation_ Armed-Forces', 'occupation_ Craft-repair',
       'occupation_ Exec-managerial', 'occupation_ Farming-fishing',
       'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct',
       'occupation_ Other-service', 'occupation_ Priv-house-serv',
       'occupation_ Prof-specialty', 'occupation_ Protective-serv',
       'occupation_ Sales', 'occupation_ Tech-support',
       'occupation_ Transport-moving', 'relationship_ Husband',
       'relationship_ Not-in-family', 'relationship_ Other-relative',
       'relationship_ Own-child', 'relationship_ Unmarried',
       'relationship_ Wife', 'race_ Amer-Indian-Eskimo',
       'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White',
       'sex_ Female', 'sex_ Male', 'native-country_ Cambodia',
       'native-country_ Canada', 'native-country_ China',
       'native-country_ Columbia', 'native-country_ Cuba',
       'native-country_ Dominican-Republic', 'native-country_ Ecuador',
       'native-country_ El-Salvador', 'native-country_ England',
       'native-country_ France', 'native-country_ Germany',
       'native-country_ Greece', 'native-country_ Guatemala',
       'native-country_ Haiti', 'native-country_ Honduras',
       'native-country_ Hong', 'native-country_ Hungary',
       'native-country_ India', 'native-country_ Iran',
       'native-country_ Ireland', 'native-country_ Italy',
       'native-country_ Jamaica', 'native-country_ Japan',
       'native-country_ Laos', 'native-country_ Mexico',
       'native-country_ Nicaragua',
       'native-country_ Outlying-US(Guam-USVI-etc)', 'native-country_ Peru',
       'native-country_ Philippines', 'native-country_ Poland',
       'native-country_ Portugal', 'native-country_ Puerto-Rico',
       'native-country_ Scotland', 'native-country_ South',
       'native-country_ Taiwan', 'native-country_ Thailand',
       'native-country_ Trinadad&Tobago', 'native-country_ United-States',
       'native-country_ Vietnam', 'native-country_ Yugoslavia',
       'native-country_ Holand-Netherlands'],
      dtype='object')