In [1]:
import numpy as np
import pandas as pd

from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [ ]:
def add_features(df_unique):
    ### Tratamento de variaveis categoricas
    df_unique = onehot_encoder(df_unique)

    ### Tratamento de variaveis continuas
    normalize = MinMaxScaler()

    colunas = ["age", "fnlwgt", "capital-gain", "capital-loss", "hours-per-week", "education-num"]

    df_unique[colunas] = normalize.fit_transform(df_unique[colunas])

    ### Dropar colunas e separar X e Y
    colunas_drop = ["class", "education", "workclass", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]

    df_unique = df_unique.drop(colunas_drop, axis = 1).to_numpy()

In [2]:
import numpy as np
import pandas as pd

In [ ]:
colunas = pd.read_csv("./Dados/colunas.csv")

In [ ]:
NOME_COLUNAS = ('age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'class')
entrada = pd.read_csv("./Dados/adult.test", names = NOME_COLUNAS, index_col = False, skiprows = 1)

In [ ]:
df_process = pd.concat([colunas,entrada], axis=0, ignore_index=True)#.head(1)

df_process = df_process.drop(labels=0, axis=0)

colunas_classes = ["workclass", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]

for coluna in colunas_classes:
    for i in range(0,len(df_process)):
        value = df_process[coluna].iloc[i]
        df_process[f'{coluna}_{value}'] = df_process[f'{coluna}']

#colunas_drop = ["class", "education", "workclass", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]

#df_unique = df_unique.drop(colunas_drop, axis = 1).to_numpy()

In [ ]:
df_process

In [ ]:
coluna = "workclass"
#df_process[teste]
value = df_process[coluna].iloc[0]
df_process[f'{coluna}_{value}'] = df_process[f'{coluna}']

In [ ]:
df_process.head()#[f'{coluna}_{value}']

In [ ]:
pd.concat([colunas,entrada], axis=0, ignore_index=True).head(1)

In [ ]:
output = colunas.append(entrada, ignore_index=True)

In [ ]:
#nome_colunas_treino = pd.read_csv("./Dados/colunas.csv")

In [ ]:
#df_asdf = pd.concat([colunas,entradaaa], axis=0, ignore_index=True).head(1)

In [ ]:
colunas.columns

In [ ]:
################################################################################

In [3]:
NOME_COLUNAS = ('age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'class')
entradaaa = pd.read_csv("./Dados/adult.test", names = NOME_COLUNAS, index_col = False, skiprows = 1)

In [4]:
def formatar_entrada(df_teste):

    # Lê o arquivo com o nome das colunas geradas no dataset de treino
    colunas_treino = pd.read_csv("./Dados/colunas.csv")

    # Concatena os dados de teste das colunas correspondentes do de treino
    df = pd.concat([colunas_treino, df_teste], axis = 0, ignore_index = True).head(1)

    # Resolvendo as linhas que ficaram com "NaN" por causa do One Hot Encoding
    colunas_cat = ["workclass", "marital-status", "occupation", "relationship", "race", "sex", "native-country"]    

    # Para cada coluna do One Hot Encoding
    for coluna in colunas_cat:

        # Pega o valor da coluna:
        # Exemplo:         val = df_teste["sex"].item()   ->   val = " Male" or " Female"
        val = df_teste[coluna].item()

        # Coloca no One Hot correspondente
        # Exemplo:         df["sex_ Male"] = 1 ou df["sex_ Female"] = 1
        df[f"{coluna}_{val}"].iloc[0] = 1
    
    # Preenche os faltantes com 0
    df = df.fillna(0)

    return df

In [5]:
formatar_entrada(entradaaa[:1])

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Holand-Netherlands,workclass,education,marital-status,occupation,relationship,race,sex,native-country,class
0,25,226802,7,0,0,40,0,0,0,1,...,0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K.